<Navbar [icon]="icon" [mode]="'light'" (onLeftClick)="bit.push(['/'])">
  服务
  <ng-template #icon>
    <Icon [type]="'left'"></Icon>
  </ng-template>
</Navbar>

<WhiteSpace></WhiteSpace>
<WingBlank>
  <WhiteSpace></WhiteSpace>
  <div Button (tap)="jssdk()">加载</div>
  <WhiteSpace></WhiteSpace>
  <div Button (tap)="updateAppMessageShareData()">分享到QQ</div>
  <WhiteSpace></WhiteSpace>
  <div Button (tap)="openLocation()">使用微信内置地图查看位置</div>
  <WhiteSpace></WhiteSpace>
  <div Button (tap)="getLocation()">获取地理位置</div>
</WingBlank>
<WhiteSpace></WhiteSpace>
