<Navbar [icon]="icon" [mode]="'light'" (onLeftClick)="bit.push(['/'])">
  微信 JSSDK
  <ng-template #icon>
    <Icon [type]="'left'"></Icon>
  </ng-template>
</Navbar>

<WhiteSpace></WhiteSpace>
<WingBlank>
  <WhiteSpace></WhiteSpace>
  <div Button (tap)="jssdk()">加载</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="updateAppMessageShareData()">分享到QQ</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="updateTimelineShareData()">分享到QQ空间</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="onMenuShareWeibo()">分享到腾讯微博</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="chooseImage()">选图</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="previewImage()">预览图片</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="uploadImage()">上传图片接口</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="downloadImage()">下载图片</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="getLocalImgData()">获取本地图片</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="startRecord()">开始录音</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="stopRecord()">停止录音</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="onVoiceRecordEnd()">监听录音自动停止</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="playVoice()">播放语音</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="pauseVoice()">暂停播放</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="stopVoice()">停止播放</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="stopVoice()">监听语音播放完毕</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="onVoicePlayEnd()">上传语音</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="uploadVoice()">停止播放</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="downloadVoice()">下载语音</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="translateVoice()">识别音频并返回识别结果</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="getNetworkType()">获取网络状态</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="openLocation()">使用微信内置地图查看位置</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="getLocation()">获取地理位置</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="startSearchBeacons()">开启查找周边ibeacon设备</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="stopSearchBeacons()">关闭查找周边ibeacon设备</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="onSearchBeacons()">监听周边ibeacon设备</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="closeWindow()">关闭当前网页窗口</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="hideMenuItems()">批量隐藏功能按钮</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="showMenuItems()">批量显示功能按钮</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="hideAllNonBaseMenuItem()">隐藏所有非基础按钮</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="showAllNonBaseMenuItem()">显示所有功能按钮</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="scanQRCode()">调起微信扫一扫</div>

  <WhiteSpace></WhiteSpace>
  <div Button (tap)="openProductSpecificView()">跳转微信商品页</div>
</WingBlank>
<WhiteSpace></WhiteSpace>
