.tab-section {
  position: fixed;
  height: calc(100% - 45px);
  width: 100%;
  top: 45px;
}

.tab-icon {
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 21px 21px;
}

.tab-content {
  height: 100%;
  text-align: center
}
