<Navbar>{{title}}</Navbar>

<TabBar class="tab-section"
        [barTintColor]="'white'"
        [activeTab]="selectedIndex"
        (onPress)="tabBarTabOnPress($event)">
  <TabBarItem [title]="'服务测试'"
              [icon]="serviceIcon"
              [selectedIcon]="serviceSelectedIcon">
    <ng-template #serviceIcon>
      <div class="tab-icon"
           style="background-image: url('../../assets/service.svg')">
      </div>
    </ng-template>
    <ng-template #serviceSelectedIcon>
      <div class="tab-icon"
           style="background-image: url('../../assets/service_active.svg')">
      </div>
    </ng-template>

    <div class="tab-content">
      <WhiteSpace></WhiteSpace>
      <WingBlank>
        <WhiteSpace></WhiteSpace>
        <div Button [type]="'dashed'">JSSDK</div>
        <WhiteSpace></WhiteSpace>
        <div Button [type]="'dashed'">微信授权</div>
        <WhiteSpace></WhiteSpace>
        <div Button [type]="'dashed'">微信支付</div>
      </WingBlank>
      <WhiteSpace></WhiteSpace>
    </div>
  </TabBarItem>
  <TabBarItem [title]="'场景模拟'"
              [icon]="scenesIcon"
              [selectedIcon]="scenesSelectedIcon">
    <ng-template #scenesIcon>
      <div class="tab-icon"
           style="background-image: url('../../assets/scenes.svg')">
      </div>
    </ng-template>
    <ng-template #scenesSelectedIcon>
      <div class="tab-icon"
           style="background-image: url('../../assets/scenes_active.svg')">
      </div>
    </ng-template>

    <div class="tab-content">
    </div>
  </TabBarItem>
</TabBar>
