.tab-section {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0
}

.tab-icon {
  width: 24px;
  height: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 21px 21px;
}

.tab-content {
  background-color: white;
  height: 100%;
  text-align: center
}
